@define-color accent_color @green_4;
@define-color accent_bg_color @green_3;

.mono {
  font-family: monospace;
}

.bitLbl {
  font-size: 0.9em;
}

.flat-dropdown button:not(:checked):not(:hover) {
  background: transparent;
  box-shadow: none;
}
